<h1>入力内容の確認</h1>

    <li><%= guest.name %></li>
    <li><%= guest.address %></li>
    <li><%= guest.email %></li>
    <li><%= guest.attend %></li>
    <li><%= guest.allergy %></li>
    <li><%= guest.message %></li>
<%= link_to '戻る', guests_path %>